// vars
$app_bgColor: #393dce;

$view_bgColor: #fff;
$view_color: #333;
// vars/

@font-face {
	font-family: 'roboto';
	font-display: swap;
	src: local('Roboto'), local('roboto'), url('~@/assets/fonts/roboto.woff2') format('woff2'),
		url('~@/assets/fonts/roboto.woff') format('woff'), url('~@/assets/fonts/roboto.ttf') format('truetype'),
		url('~@/assets/fonts/roboto.eot') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
}
@import './icomoon';

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-family: sans-serif;
}

body {
	cursor: default;
	font: normal 1rem/1.1 'roboto', 'arial', 'sans-serif';
	padding: 0;
	margin: 0;
	overflow-y: auto;
	// overflow-x: hidden;
	// overflow: hidden;
}
body * {
	box-sizing: border-box;
}
label {
	cursor: pointer;
	input {
		cursor: pointer;
	}
}
.checkcontainer {
	font-size: 1.1em;
	input {
		display: none;
		&:checked + span {
			box-shadow: 0 0 0.25em 0.1em #536dfe;
			&:before {
				background-color: #3c383a;
			}
		}
	}
	span {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 1em;
		width: 1em;
		height: 1em;
		margin: 0 0.25em;
		border-radius: 50%;
		background-color: #e8e6e3;
		&:before {
			content: '';
			display: inline-block;
			font-size: 0.75em;
			width: 1em;
			height: 1em;
			border-radius: 50%;
			background-color: #e8e6e3;
		}
	}
}

.app {
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;

	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-family: sans-serif;

	background-color: $app_bgColor;

	// overflow-y: auto;
	// overflow-x: auto;
	// overflow: auto;

	&_view {
		color: $view_color;
		background-color: $view_bgColor;
		box-shadow: 1em 1em 2em #0d1333;
		margin: 10vh 0;

		@media (max-width: 850px) {
			width: 100%;
			margin: 1em;
		}
		@media (max-width: 410px) {
			margin: 1em 1%;
		}
	}
}

.swiper-pagination-bullet {
	height: 3px;
	width: 1.3em;
	margin: 3px;
	border-radius: 0;
}

.quantity {
	.quantity-input {
		display: inline-flex;
		margin-left: 0.5em;
		input {
			width: 2.5em;
			height: 2.5em;
			text-align: center;
			border: 1px solid #cccccc;

			-webkit-appearance: textfield;
			-moz-appearance: textfield;
			appearance: textfield;
		}
		input[type='number']::-webkit-outer-spin-button,
		input[type='number']::-webkit-inner-spin-button {
			display: none;
		}

		&-arrows {
			display: flex;
			flex-wrap: wrap;

			span {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 1em;
				-webkit-appearance: none;
				padding: 0.1em;
				background: none;
				cursor: pointer;

				transition: color 0.3s;

				&:hover {
					color: #000;
				}
			}
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	max-width: 275px;
	display: flex;
	align-items: center;
	padding: 2em;
	background-color: #ffffff;
	z-index: 10;
	visibility: hidden;
	overflow-y: auto;
	opacity: 0;
	transform: translateX(110%);
	transition: all 0.35s;

	&-cart {
		max-height: 100%;
		// display: flex;
		// flex-wrap: wrap;
		// flex-direction: column;
		// justify-content: space-between;
		// align-items: center;

		// & > div {
		// 	width: 100%;
		// 	height: 100%;
		// }

		&-header {
			display: flex;
			margin-bottom: 2em;
			justify-content: center;
		}
		.cart {
			&-remove {
				position: relative;
				span {
					position: absolute;
					top: 0;
					right: 0;
					color: #818181;
					cursor: pointer;
				}
			}
			&-button {
				margin-right: 1em;
				background-image: url('~@/assets/img/cart.png');
			}
			&-info {
				&-subtotal {
					font-size: 0.75em;
					color: #818181;
				}
				&-price {
					font-size: 1.25em;
					font-weight: bold;
					color: #f1425d;
				}
			}
			&-product {
				width: 100%;
				text-align: center;
				&-img {
					display: inline-block;
					max-width: 100px;
				}
				&-title {
					display: flex;
					justify-content: center;
					margin: 0.75em 0 0.5em;
					text-align: left;
				}
				&-price {
					margin: 0.5em 0;
					color: #f1425d;
				}
			}

			&-footer {
				margin-top: 3em;
				&-text {
					color: #818181;
					font-size: 0.75em;
				}
				&-button {
					width: 100%;
					font-size: 1em;
					padding: 0.5em;
					margin-top: 1em;
					background-color: #536dfe;
					border: none;
					cursor: pointer;
				}
			}
		}
	}
}
.modal_bg {
	visibility: hidden;
}
body.modal--active {
	.modal {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);

		&_bg {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba($color: #000000, $alpha: 0.75);
			z-index: 9;
			visibility: visible;
		}
	}
}
