<!DOCTYPE html>
<html
	lang="<%= VUE_APP_LANG %>"
	itemscope
	itemtype="https://schema.org/WebPage"
	prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"
>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />

		<title><%= VUE_APP_TITLE %></title>
		<meta name="description" content="<%= VUE_APP_DESCRIPTION %>" />
		<meta name="keywords" content="<%= VUE_APP_KEYWORDS %>" />

		<meta content="<%= BASE_URL %>browserconfig.xml" name="msapplication-config" />
		<meta content="yes" name="mobile-web-app-capable" />
		<meta content="<%= VUE_APP_THEME_COLOR %>" name="theme-color" />
		<link href="<%= BASE_URL %>manifest.json" rel="manifest" />
		<link href="<%= BASE_URL %>favicon-48x48.png" rel="icon" sizes="48x48" />
		<link href="<%= BASE_URL %>favicon-32x32.png" rel="icon" sizes="32x32" />
		<link href="<%= BASE_URL %>favicon.ico" rel="icon" sizes="16x16" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="<%= VUE_APP_TITLE %>" />
		<meta property="og:site_name" content="<%= VUE_APP_TITLE %>" />
		<meta property="og:url" content="https://<%= VUE_APP_DOMAIN %>" />
		<meta property="og:description" content="<%= VUE_APP_DESCRIPTION %>" />

		<meta property="og:image" content="https://<%= VUE_APP_DOMAIN %>/img/icons/android-chrome-256x256.png" />
		<meta property="vk:image" content="https://<%= VUE_APP_DOMAIN %>/img/icons/android-chrome-256x256.png" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="<%= VUE_APP_TWITTER_USERNAME %>" />
		<meta name="twitter:title" content="<%= VUE_APP_TITLE %>" />
		<meta name="twitter:description" content="<%= VUE_APP_DESCRIPTION %>" />
		<meta name="twitter:image" content="https://<%= VUE_APP_DOMAIN %>/img/icons/android-chrome-256x256.png" />
		<meta itemprop="name headline" content="<%= VUE_APP_TITLE %>" />
		<meta itemprop="description about" content="<%= VUE_APP_DESCRIPTION %>" />
		<meta itemprop="url mainEntityOfPage" content="https://<%= VUE_APP_DOMAIN %>" />
		<meta itemprop="keywords genre" content="<%= VUE_APP_KEYWORDS %>" />
		<meta
			itemprop="primaryImageOfPage"
			content="https://<%= VUE_APP_DOMAIN %>/img/icons/android-chrome-256x256.png"
		/>
		<meta itemprop="thumbnailUrl" content="https://<%= VUE_APP_DOMAIN %>/img/icons/android-chrome-256x256.png" />

		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	</head>
	<body>
		<noscript>
			<strong
				>We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to continue
				.</strong
			>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
