<template>
	<div class="app_view app_view-home">
		<HomeComponent />
	</div>
</template>

<script>
// @ is an alias to /src
import HomeComponent from '@/components/HomeComponent.vue';

export default {
	name: 'home',
	components: {
		HomeComponent,
	},
};
</script>
