<template>
	<div class="app_view app_view-loader">
		<LoaderComponent />
	</div>
</template>

<script>
// @ is an alias to /src
import LoaderComponent from '@/components/LoaderComponent.vue';

export default {
	name: 'loader',
	components: {
		LoaderComponent,
	},
};
</script>
