<template>
	<div class="app_component app_component-home">
		<div class="home">
			<div class="home-header">
				<div class="home-header-logo logo">
					<img src="~@/assets/img/logo-sennheiser.svg" alt="sennheiser" class="logo-img" />
				</div>
				<div class="home-header-cart cart">
					<a href="#" class="cart-button" onclick="document.body.classList.add('modal--active');">
						<!-- <span class="cart-button-icon icon-cart"></span> -->
						<!-- <img src="~@/assets/img/cart.png" alt="cart" class="cart-img" /> -->
						<span class="cart-counter">0</span>
					</a>
				</div>
			</div>
			<div class="home-main main">
				<div class="main-slider">
					<!-- Slider main container -->
					<div class="swiper-container">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide">
								<img src="~@/assets/img/products/earphones-black.png" alt="" />
							</div>
							<div class="swiper-slide">
								<img src="~@/assets/img/products/earphones-white.png" alt="" />
							</div>
							<div class="swiper-slide">
								<img src="~@/assets/img/products/earphones-white.png" alt="" />
							</div>
						</div>
					</div>
					<div class="slider-buttons">
						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-separator">
							<img src="~@/assets/img/hand-grab.png" alt="" />
						</div>
						<div class="swiper-button-next"></div>

						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>

						<!-- If we need scrollbar -->
						<!-- <div class="swiper-scrollbar"></div> -->
					</div>
				</div>
				<div class="main-product product">
					<div class="product-info">
						<div class="product-info-model">
							<small>Model: <span>503795</span></small>
						</div>
						<div class="product-info-title">
							<h1>MOMENTUM<sup>®</sup></h1>
							<h2>Wireless Black</h2>
						</div>
						<div class="product-info-desc">
							<p>
								Peak performance with active noise cancelation. Sennheiser's new MOMENTUM Wireless -
								Closed circumaural headphone featuring Bluetooth® wireless technology and NoiseGard
								Hybrid active noise cancelation
							</p>
						</div>
						<div class="product-info-rating rating">
							<span class="rating-buttons">
								<span class="rating-button active" data-vote="1"></span
								><span class="rating-button active" data-vote="2"></span
								><span class="rating-button active" data-vote="3"></span
								><span class="rating-button active" data-vote="4"></span
								><span class="rating-button white" data-vote="5"></span>
							</span>
							<span class="rating-points">4.25</span>
							<span class="rating-amount">(153 reviews)</span>
						</div>
						<div class="product-info-additional">
							<div class="product-info-additional-price"><span>$</span><span>499.95</span></div>
							<div class="product-info-additional-colors">
								<p>Chose your colors:</p>
								<div class="product-info-additional-colors-choose">
									<label class="checkcontainer">
										<input type="radio" name="product-color" id="product-color-white" checked />
										<span class="checkcontainer-radiobtn"></span>
									</label>
									<label class="checkcontainer">
										<input type="radio" name="product-color" id="product-color-black" />
										<span class="checkcontainer-radiobtn"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="product-buy">
						<div class="product-buy-quantity quantity">
							<span>Quantity</span>
							<span class="quantity-input">
								<input type="number" name="product-quantity" id="product-quantity" value="1" />
								<span class="quantity-input-arrows">
									<span
										onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepUp()"
										class="quantity-input-arrows-top"
									>
										+
									</span>
									<span
										onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepDown()"
										class="quantity-input-arrows-bottom"
									>
										-
									</span>
								</span>
							</span>
						</div>
						<div class="product-buy-add">
							<button>Add to Cart</button>
						</div>
					</div>
				</div>
			</div>
			<div class="home-footer"></div>
		</div>

		<!-- <h1><b>HomeComponent</b></h1>
		<div class="">
			<h1>{{ getAppInfo.name }}</h1>
			<h1>{{ getAppInfo.domain }}</h1>
			<h1>{{ getAppInfo.company }}</h1>
			<h1>{{ getAppInfo.email }}</h1>
			<h1>{{ getAppInfo.address }}</h1>
		</div> -->
		<div class="modal">
			<div class="modal-cart">
				<div class="modal-cart-header">
					<a href="#" class="cart-button" onclick="document.body.classList.add('modal--active');">
						<!-- <span class="cart-button-icon icon-cart"></span> -->
						<!-- <img src="~@/assets/img/cart.png" alt="cart" class="cart-img" /> -->
						<span class="cart-counter">0</span>
					</a>
					<div class="cart-info">
						<div class="cart-info-subtotal">Subtotal (1 item):</div>
						<div class="cart-info-price">$499.95</div>
					</div>
				</div>
				<div class="cart-products">
					<div class="cart-remove">
						<span class="icon-cross"></span>
					</div>
					<div class="cart-product">
						<img src="~@/assets/img/products/earphones-black.png" alt="" class="cart-product-img" />
						<h3 class="cart-product-title">MOMENTUM®<br />Wireless Black</h3>
						<p class="cart-product-price">$499.95</p>
						<div class="cart-product-quantity quantity">
							<span class="quantity-input">
								<input type="number" name="product-quantity" id="cart-product-quantity" value="1" />
								<span class="quantity-input-arrows">
									<span
										onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepUp()"
										class="quantity-input-arrows-top"
									>
										+
									</span>
									<span
										onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepDown()"
										class="quantity-input-arrows-bottom"
									>
										-
									</span>
								</span>
							</span>
						</div>
					</div>
				</div>
				<div class="cart-footer">
					<p class="cart-footer-text">
						Your order qualifies for FREE Shipping Choose this option at checkout. See details
					</p>
					<button class="cart-footer-button">Proceed to checkout</button>
				</div>
			</div>
		</div>

		<div class="modal_bg" onclick="document.body.classList.remove('modal--active');"></div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	data: function() {
		return {
			//
		};
	},
	computed: {
		...mapGetters(['getAppInfo']),
	},
	mounted: function() {
		window.console.log('.app_component-home mounted');

		var mySwiper = new Swiper('.swiper-container', {
			// Optional parameters
			direction: 'horizontal',
			// autoHeight: true,
			loop: true,

			// If we need pagination
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},

			// Navigation arrows
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},

			// // And if we need scrollbar
			// scrollbar: {
			// 	el: '.swiper-scrollbar',
			// },
		});

		// this.$nextTick(function() {
		// });
	},
};
</script>

<style scoped lang="scss">
.app_component {
	&-home {
		display: block;
	}
}
.home {
	width: 800px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 850px) {
		width: 100%;
		height: auto;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-height: 3em;
		&-logo {
			display: flex;
			width: 10em;
			// height: 2em;
			justify-content: center;
			align-items: center;
			padding: 1em;
			background-color: #272727;

			.logo-img {
				display: inline-block;
				max-width: 100%;
				max-width: 100%;
			}
		}

		&-cart {
			// position: absolute;
			// display: inline-block;
			// top: 0;
			// right: 0;
			// padding: 1em;
		}
	}
	&-main {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		flex: 1 0;
	}
}

.main {
	&-slider {
		flex: 1 0 50%;
		display: flex;
		flex-wrap: wrap;
		// padding: 1em;

		@media (max-width: 650px) {
			flex: 1 0 100%;
			order: 1;
		}
	}
	&-product {
	}

	.product {
		flex: 1 0 50%;
		display: flex;
		flex-wrap: wrap;
		padding: 1em;

		@media (max-width: 650px) {
			flex: 1 0 100%;
		}

		&-info {
			&-model {
				font-size: 0.75em;
				color: #818181;
			}
			&-title {
				font-size: 1.75em;
				margin: 0.75em 0;
				h1 {
					font-size: 1em;
					padding: 0 0 0.1em;
					margin: 0;
				}
				h2 {
					font-size: 1em;
					padding: 0;
					margin: 0;
				}
			}
			&-desc {
				font-size: 1em;
				line-height: 1.5em;
				p {
					margin-top: 0;
				}
			}

			.rating {
				// display: flex;
				// align-items: center;

				&-buttons {
					&:hover .rating-button {
						color: #f1425d;
					}
				}
				&-button {
					display: inline-block;
					font-size: 1.5em;
					line-height: 1;
					color: #cccccc;
					cursor: pointer;

					&:before {
						content: '\0025CF';
						display: inline-block;
						font-style: normal;
						padding: 0;
					}
					&.active {
						color: #fccf47;
					}
					&:hover {
						color: #f1425d;
					}
					&:hover ~ .rating-button {
						color: #cccccc;
					}
				}
				&-points {
					font-size: 1em;
					line-height: 1;
					margin-left: 0.75em;
					color: #f1425d;
				}
				&-amount {
					font-size: 0.8em;
					line-height: 1;
					margin-left: 0.5em;
					color: #818181;
				}
			}

			&-additional {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				margin-top: 2em;

				&-price {
					font-size: 1.5em;
					font-weight: bold;
					color: #f1425d;
				}
				&-colors {
					text-align: right;
					p {
						font-size: 0.75em;
						font-weight: bold;
						margin: 0 0 0.5em;
					}
				}
			}
		}

		&-buy {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-top: 2em;

			&-add {
				display: flex;
				height: 100%;
				button {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 9em;
					font-size: 1em;
					padding: 0.5em;
					background-color: #536dfe;
					border: none;
					cursor: pointer;
				}
			}
		}
	}
}

.cart {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	padding: 1em;
	z-index: 9;
	overflow: hidden;

	@media (max-width: 650px) {
		position: static;
	}

	&-button {
		position: relative;
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		background-image: url('~@/assets/img/cart-white.png');
		background-size: contain;
		background-repeat: no-repeat;

		@media (max-width: 650px) {
			background-image: url('~@/assets/img/cart.png');
		}

		&-icon {
			color: #fff;
		}
	}
	&-counter {
		position: absolute;
		bottom: 50%;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2em;
		height: 2em;
		font-size: 0.5em;
		padding: 0.25em;
		border-radius: 50%;

		color: #ffffff;
		background-color: #536dfe;
	}
}

.swiper-container {
	width: 100%;
	max-width: 400px;
	height: 400px;
	@media (max-width: 850px) {
		max-width: 320px;
	}

	.swiper-slide {
		text-align: center;
		& > img {
			display: inline-block;
			max-width: 100%;
			max-height: 100%;
		}
	}
}
.slider {
	&-buttons {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.swiper-pagination,
		.swiper-button-next,
		.swiper-button-prev {
			position: static;
			left: unset;
			right: unset;
		}

		.swiper-button-next,
		.swiper-button-prev {
			width: auto;
			margin: 0 0.75em;

			&:after {
				display: flex;
				justify-content: center;
				width: 1em;
				font-size: 1.2em;
				font-weight: bold;
				color: #333;
			}
		}
		.swiper-button-separator {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			img {
				display: inline-block;
			}
		}
		.swiper-pagination {
			width: 100%;
			margin: 0;
		}
	}
}
</style>
