<template>
	<div class="app_component app_component-loader">
		<div class="">
			<h1>LoaderComponent</h1>
			<h1>{{ getAppInfo.name }}</h1>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	data: function() {
		return {
			//
		};
	},
	computed: {
		...mapGetters(['getAppInfo']),
	},
	mounted: function() {
		// this.$nextTick(function() {
		// });
	},
};
</script>

<style scoped lang="scss"></style>
