<template>
	<transition name="page" mode="out-in">
		<div class="app">
			<router-view />
		</div>
	</transition>
</template>
<script>
// import { mapMutations } from 'vuex';

export default {
	mounted: function() {
		window.console.log('.app mounted');
		// this.$nextTick(function() {
		// });
	},
	methods: {
		// ...mapMutations(['setTimer', 'setGameObjects']),
	},
};
</script>
<style lang="scss">
@import './assets/scss/config';
</style>
